.alive {
    background-color: #5bc0de;
}
.dead {
    background-color: white;
}

table {
    border: 1px solid #ccc;
}
td {
    border: 1px solid #ccc;
}

.board {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}