<div class="home">
    <div class="page-header text-center">
      <h1>Conway's Game of Life</h1>
    </div>
    <div class="form-group">
      <label>Size of World:</label>
      <input type="text" class="form-control" ng-model="size" ng-change="createWorld()">
    </div>
    <div class="form-group">
      <label>Resolution:</label>
      <input type="text" class="form-control" ng-model="resolution">
    </div>
    <div class="form-group">
      <label>Loda lif file:</label>
      <select class="form-control" ng-model="selectedLif" ng-change="loadLif()">
        <option>empty</option>
        <option ng-repeat="file in lifs">{{file}}</option>
      </select>
  </div>
    <hr />
    <div>
      <button type="button" class="btn btn-success" ng-click="evolve()" ng-if="!run">Evolve continously</button>
      <button type="button" class="btn btn-danger" ng-click="stop()" ng-if="run">Stop evolve</button>
      <button type="button" class="btn btn-primary" ng-click="step()" ng-if="!run">Next round</button>
    </div>
    <hr />
    <div>
      <table>
        <tr ng-repeat="x in world">
          <td ng-repeat="y in world"
              ng-class="cells[x][y].state ? 'alive' : 'dead'"
              ng-click="toggleLife(x, y)"
              style="height: {{resolution}}px; width: {{resolution}}px"></td>
        </tr>
      </table>
    </div>
  </div>
</div>